---
layout: default
---

<section class="slide whiteSlide autoHeight">
  <div class="content">
    <div class="container">
      <div class="wrap">
      
        <div>
          {% if paginator.page > 1 %}
          <div class="fix-12-12 margin-bottom-10 left">
            <a href="/"><img src="/assets/svg/grumpy-cooker-logo.svg" alt="The Grumpy Cooker Logo" width="15%" class="ae-1 fadeIn"></a>
            <!--<div class="ae-1 fadeIn margin-top-5"><p>No Bullshit Narratives. No Excessive Pics. All Vegan Recipes.</p></div>-->
          </div>
          {% else %}
          <div class="fix-7-12 margin-bottom-10">
            <a href="/"><img src="/assets/svg/grumpy-cooker-logo.svg" alt="The Grumpy Cooker Logo" width="100%" class="ae-1"></a>
            <div class="ae-3 margin-top-5"><p class="hero">No Bullshit Narratives. No Excessive Pics. All Vegan Recipes.</p></div>
          </div>
          {% endif %}
        </div>

        <div class="fix-12-12">  
          <ul class="grid grid-74 later equal left margin-top-5" id="main">
            {% for post in paginator.posts %}
            <li class="col-4-12 ae-5 fadeIn">
              <a class="box-74" href="{{ post.url | relative_url }}">
                <div class="thumbnail-74">
                  <img src="/assets/img/sm-{{ post.image }}" class="wide" alt="Thumbnail"/>
                </div>
                <div class="name-74 equalElement table wide">
                  <div class="cell">
                    <h3 class="big">{{ post.title | escape }}</h3>
                    <div class="description-74 left">{{ post.description }}</div>
                    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                    <span class="post-meta leftw">{{ post.date | date: date_format }}</span>
                  </div>
                </div>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="pagination fix-6-12 margin-top-10">
          <ul class="pager-nav">
          {% if paginator.previous_page %}
            <li class="pager-nav__item pager-nav__previous">
              <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
            </li>
          {% else %}
            <li class="pager-nav__item pager-nav__previous">&nbsp;</li>
          {% endif %}
          <span class="pager-nav__number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
          {% if paginator.next_page %}
            <li class="pager-nav__item pager-nav__next">
              <a href="{{ paginator.next_page_path }}" class="next">Next</a>
            </li>
          {% else %}
            <li class="pager-nav__item pager-nav__next">&nbsp;</li>
          {% endif %}
          </ul>
        </div>


        
      </div>
    </div>
  </div>
  <!--<div class="background" style="background-image:url(/assets/img/foto_tlacoyos.jpg)"></div>-->
</section>




  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
