// 1rem = 16px
$paragraph-font-size: 1.2rem;
$header-font-size-h1: 4rem;
$header-font-size-h2: 3.75rem;
$header-font-size-h3: 2.5rem;
$header-font-size-h4: 2rem;
$header-font-size-h5: 1.8rem;
$header-font-size-h6: 1.5rem;


$red: #c62828;
$darkOrange: #dc6542;
$salmon: #cb485d;
