<!--<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>-->
<section class="slide autoHeight salmon">
  <div class="content">
    <div class="container">
      <div class="wrap">
      
        <div class="fix-10-12">
          <h1 class="ae-1">Get the recipes sent straight to your inbox!</h1>
          <div class="ae-2">
            <p>
              They may or may not arrive every week. But you'll get 'em before they appears on this site. 
              <br>
              That's something, right?
            </p>
          </div>
          <form action="#" autocomplete="off">
            <input type="email" class="ae-5 fromLeft input-13" name="email" placeholder="Email address"/>
            <input type="submit" class="button orange ae-5 fromRight" name="submit" value="Get Updates"/>
          </form>
        </div>
                
      </div>
    </div>
  </div>
  <!--<div class="background" style="background-color:#cb485d"></div>-->
</section>